<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guess the day!</title>
  </head>
  <body>
    <% if(dayName === "Saturday" || dayName === "Sunday"){ %>
      <h1 style="color: green">It's  <%= dayName %> </h1>
    <% } else { %>
      <h1 style="color: orange">It's  <%= dayName %> </h1>
    <% } %>

    
  </body>
</html>
